@font-face {
    font-family: Roboto-Bold ;
    src: url(../fonts/Roboto/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Reg;
    src: url(../fonts/Roboto/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}


.spacing{
    display: flex;
    justify-content: space-around;
}

body{
    background-color: #CE7474;
}
.bgNavBar{
    background-color: #86B088;
    height: 101px;
    margin-top: -1%;
    margin-bottom: -1%;
}
.fontNavBar{
    font-family: Roboto-Bold;
    font-size: 24px;
    color: black;
}
.paddingNavBar{
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.marginContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
}
.cardMarginTop{
    margin-top: 20.5px;
}
.cardHeight{
    height: 880px;
}
.imageSize{
    height: 440px;
}
@media screen and (max-width: 900px) {
    .paddingNavBar{
        padding-left: 25px !important;
        padding-right: 25px !important;
    };

    .imageSize{
        height: 718px;
    }
    .marginContainer{
        margin-left: auto;
        margin-right: auto;
        max-width: 717px;
    
    }
    
}