@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Reg;
    src: url(../fonts/Roboto/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}

.indexFont {
    font-family: Roboto-Bold;
    text-align: center;
    font-size: 28px;
    font-style: none !important;
}


.bgCardColor {
    background-color: rgba(218, 218, 218, 1);
}

.middle {

    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cardBtn {
    /* display: flex;
    justify-content: center; */
    border-radius: 4px;
    background-color: #FE0000;
    width: 100px;
    height: 50px;
    border: none;
}

.indexBodyFont {
    font-family: Roboto-Reg;
    font-size: 16px;
    line-height: 1.5;
}

.buttonText {
    /* display: flex;
    align-items: center; */
    color: white;
    text-decoration: none;
}

.spacing {
    display: flex;
    justify-content: center;
}

body {
    background-color: #CE7474;
}

.bgNavBar {
    background-color: #86B088;
    height: 101px;
    margin-top: -1%;
    margin-bottom: -1%;
}

.fontNavBar {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: black;
}

.paddingNavBar {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.marginContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
}

.cardMarginTop {
    margin-top: 20.5px;
    margin-left: 20px;
    margin-right: 20px;
}

.cardHeight {
    height: 880px;
}

.imageSize {
    height: 440px;
}

@media screen and (max-width: 900px) {
    .paddingNavBar {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    ;

    .imageSize {
        height: 718px;
    }

    .marginContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 717px
    }

    .cardMarginTop {
        margin-top: 40px;
        padding-left: 58px;
        padding-right: 58px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
    }
}