@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Reg;
    src: url(../fonts/Roboto/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}

body {
    background-color: #CE7474;
}

.bgCard {
    background-color: #CE7474;
}

.header {
    font-family: Roboto-Bold;
    color: white;
}

.headerMP {
    margin-top: 37.5px;
}

.headerFontText {
    font-family: Roboto-Bold;
    color: white;
    text-decoration: underline;
    padding: 15px;
    margin-left: 15px;
    font-size: 32px;
}

.bodyFontText {
    font-family: Roboto-Reg;
    color: white;
    padding: 15px;
    font-size: 24px;
    line-height: 1.25;
}

.backgroundNavBar {
    background-color: #86B088;
    margin-top: -1%;
    margin-bottom: -1%;
}

.marginNavBar {
    max-height: 101px;

}

.fontNavBar {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: black;
}

.paddingNavBar {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

h1 {
    display: flex;
    justify-content: center;
}

.cardBorder {
    border: none;
}

.imageSize {
    height: 489px;
}

.marginContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1273px;

}

#dennyHeight {
    height: 562.5px;
}

.vidLink:link {
    color: white;
}

/* visited link */
.vidLink:visited {
    color: white;
}

/* mouse over link */
.vidLink:hover {
    color: cornflowerblue;
}

/* selected link */
.vidLink:active {
    color: purple;
}

.navLink:hover {
    color: white;
}

.endFont {
    display: flex;
    justify-content: end;
}

@media (max-width: 900px) {
    .marginContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 714px;
    }

    ;

    .imageSize {
        height: auto;
    }

    ;

    .paddingNavBar {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    ;


}